#formDiv{
	margin-left: 30%;
	margin-right:30%;

	min-width: 260px;
	
}

#submitButton{
	margin-top: 10px;
}

label{
	padding-top: 10px;
	padding-right: 20px;
}

#titleDiv{
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: darkred;

    border-radius: 10px;
}

h2{
    color: bisque;
}

#mainDiv{
	margin: 20px;
}
  
#newReq{
	width:100%;
	height:70px;
}
  
thead{
	background: black;
	color: white;
}
  
h5{
	padding-top:10px;
	padding-bottom: 5px;
	padding-left: 8px;
}